@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body, html {
  background-color: transparent;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.landingPage {
  background-color: #0B5D6B;
  z-index: 100;
  position: relative;
}
.landingPage__Bloor {
  width: 95%;
  transform: translate(-25%, -26%);
  position: absolute;
}
.landingPage__logo {
  position: absolute;
  top: 50%;
  margin-top: -35vh;
  margin-left: 5vw;
}
.landingPage__content {
  width: 40vw;
  height: 20vw;
  position: absolute;
  top: 60%;
  margin-top: -10vh;
  margin-left: 50%;
}
.landingPage__content__title {
  text-align: right;
  width: 100%;
  font-size: 4rem;
  color: #FFD608;
  letter-spacing: 8px;
  font-style: italic;
}
.landingPage__content__text {
  font-size: 1rem;
  color: #FFFFFF;
  text-align: right;
  margin-top: 5vh;
}
.landingPage__content__button {
  font-size: 1rem;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 100%;
  transform: translateX(-100%);
  margin-top: 5vh;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.benefitScreen {
  background-color: #FFFFFF;
}
.benefitScreen__content {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: auto;
  top: 10%;
}
.benefitScreen__content__title {
  height: 10vh;
  margin-left: 2vw;
}
.benefitScreen__content__title span {
  font-size: 2rem;
  color: #003139;
  border-bottom: 2px solid #003139;
}
.benefitScreen__content__items {
  height: 50vh;
  padding: 5vh 0;
}
.benefitScreen__content__items--0 {
  border: 2px solid #85CFAE;
  border-radius: 15px;
  width: 15vw;
  height: 40vh;
  display: inline-block;
  margin: 0 2vw;
  padding-top: 6vh;
}
.benefitScreen__content__items--0--title {
  color: #FFD608;
  font-size: 5rem;
  text-align: center;
}
.benefitScreen__content__items--0--text {
  display: inline-flex;
  flex-direction: column;
  color: #0B5D6B;
  font-size: 0.9rem;
  text-align: center;
  height: 50%;
  margin-top: 2vh;
  padding: 0 2vw;
}
.benefitScreen__content__text {
  height: 20vh;
}
.benefitScreen__content__text p {
  color: #14A699;
  font-size: 1.1rem;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 5vh;
}

.bloor2 {
  position: absolute;
  width: 50vw;
  left: 100vw;
  transform: translate(-21vw, -54vh);
  z-index: 10;
}

.bloor3 {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
  transform: translate(-15vw, 40vh);
  z-index: 10;
}

.DTexplanation {
  background-color: #0B5D6B;
  height: 40vh;
  position: relative;
}
.DTexplanation__content {
  height: 20vh;
  width: 70vw;
  margin-left: 10vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.DTexplanation__content__title {
  height: 100%;
  display: inline-flex;
}
.DTexplanation__content__title span {
  color: #FFD608;
  font-size: 2rem;
}
.DTexplanation__content__text {
  margin-left: 3vw;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
}
.DTexplanation__content__text p {
  font-size: 1rem;
  display: block;
  color: #FFFFFF;
  margin: 0 0 2vh 0;
}

.DTchart {
  background-color: #FFFFFF;
  padding-top: 20vh;
}
.DTchart__list {
  position: absolute;
  top: 30vh;
  right: 5vw;
  z-index: 10;
}
.DTchart__list__option {
  margin: 0 55px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #003139;
  cursor: pointer;
}
.DTchart__list__option--selected {
  color: #FFD608;
  border-bottom: 2px solid #FFD608;
}
.DTchart img {
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  z-index: 5;
}

.contact {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.contact__content {
  height: 20vh;
  width: 80vw;
  position: absolute;
  top: 15vh;
}
.contact__content__text {
  width: 59%;
  display: inline-flex;
  flex-direction: column;
}
.contact__content__text__title {
  display: inline-flex;
  position: absolute;
  top: 1vh;
}
.contact__content__text__title span {
  font-size: 2rem;
  color: #003139;
  border-bottom: 2px solid #003139;
}
.contact__content__text__paragraph {
  color: #0B5D6B;
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
}
.contact__content__socialMedia {
  height: 100%;
  width: 40%;
  display: inline-flex;
  flex-direction: row;
  padding-top: 5vh;
}
.contact__content__socialMedia--0 {
  border: 2px solid #85CFAE;
  border-radius: 15px;
  width: 8vw;
  height: 80%;
  text-align: center;
  margin-right: 2vw;
}
.contact__content__socialMedia--0 img {
  margin-top: 2.5vh;
}
.contact__content__socialMedia--3 img {
  margin-top: 3vh;
}
.contact__finalInfo {
  width: 100%;
  height: 7vh;
  background-color: #0B5D6B;
  position: absolute;
  bottom: 0px;
  z-index: 20;
}
.contact__finalInfo p {
  margin-top: 2vh;
  color: #FFFFFF;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

/* Form page */
.navBar {
  height: 12vh;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 30;
  position: fixed;
  top: 0px;
}
.navBar div {
  transform: translateY(50%);
  height: 5vh;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
}
.navBar div span {
  color: #0B5D6B;
  font-size: 1rem;
  transform: translateY(50%);
}
.navBar div span a {
  text-decoration: none;
  color: #0B5D6B;
}

.Bloor4 {
  position: absolute;
  left: 82vw;
  transform: translate(-21vw, -35vh);
  z-index: 20;
}

.Bloor5 {
  position: absolute;
  bottom: 0vw;
  transform: translate(-35vw, 50vh);
  z-index: 0;
}

.content {
  color: #0B5D6B;
  position: relative;
  width: 100vw;
  overflow: hidden;
  width: 80vw;
  margin: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.title {
  height: 10vh;
  color: #003139;
}
.title__content {
  font-size: 2rem;
}

.subtitle__title {
  font-size: 1.5rem;
}
.subtitle__content {
  font-size: 1rem;
}

.info {
  margin: auto;
  width: 70%;
  height: 17vh;
  border-radius: 100px;
  background-color: #0B5D6B;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
}
.info__numberStep {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background-color: #FFD608;
  margin-left: 1vw;
  margin-top: 1vh;
}
.info__numberStep span {
  display: block;
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
  font-size: 5rem;
  color: #14A699;
  background-color: white;
  border-radius: 50%;
}
.info__content {
  width: 75%;
  margin-left: 3vw;
  color: #FFFFFF;
  margin-top: 2vh;
}
.info__content span {
  font-size: 1.2rem;
}
.info__content p {
  margin-top: 2vh;
  font-size: 0.9rem;
}

.form1 {
  width: 65%;
  margin: auto;
}
.form1__Questions {
  margin-top: 50px;
}
.form1__header {
  display: inline-flex;
  margin-top: 20px;
}
.form1__header div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0B5D6B;
  z-index: 10;
}
.form1__header span {
  margin-left: 1vw;
}
.form1__answer--value {
  display: block;
  border-bottom: 1px solid #003139;
  width: 50vw;
  height: 5vh;
  margin-bottom: 3vh;
  margin-top: 2vh;
}
.form1__answer span {
  margin-left: 2vh;
}
.form1__answer input {
  display: block;
  width: 85%;
  border-bottom: 1px solid #0B5D6B;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.form1__answer input--checkbox {
  display: inline;
  width: 10%;
  position: relative;
  z-index: 10000;
}
.form1__answer input:enabled {
  outline: none;
}
.form1__dropdown {
  margin-left: 3vw;
  position: relative;
  display: block;
  z-index: 20;
}
.form1__dropdown:hover .form1__dropdown__content {
  display: block;
}
.form1__dropdown:hover .form1__dropdown button {
  background-color: #3e8e41;
}
.form1__dropdown button {
  background-color: #FFFFFF;
  color: #85CFAE;
  border-radius: 10px;
  border: 4px solid #14A699;
  padding: 5px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}
.form1__dropdown__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.form1__dropdown__content span {
  color: black;
  padding: 8px 10px;
  display: block;
}
.form1__dropdown__content span:hover {
  background-color: #f1f1f1;
}
.form1__button {
  margin-top: 5vh;
  border: 2px solid #003139;
  padding: 10px 40px;
  color: #003139;
  border-radius: 10px;
  cursor: pointer;
  right: 100px;
  position: absolute;
}
.form1__button__back {
  right: 250px;
}
.form1__continue {
  padding-left: 2vw;
}

.form3__list__option {
  margin-top: 10px;
  width: 100%;
}
.form3__list input {
  display: inline-block;
}
.form3__advice {
  padding-left: 12vw;
  display: inline;
}
.form3__brief {
  border: 2px solid black;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10vh;
  width: 80%;
  position: relative;
  z-index: 1000;
}
.form3__brief__canvas {
  padding: 100px;
}
.form3__brief__canvas__title {
  color: #003139;
  font-size: 2rem;
  border-bottom: 2px solid #003139;
}
.form3__brief__canvas__data {
  margin: 20px 0 20px 0;
}
.businessModel {
  margin-top: 10vh;
}
.businessModel__title {
  width: 100%;
  font-size: 2rem;
  color: #003139;
  text-align: center;
  margin-bottom: 5vh;
}
.businessModel__content {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
}
.businessModel__content__main {
  border: 1px solid #85CFAE;
  width: 50%;
  padding: 20px 40px;
}
.businessModel__content__main__info__button {
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #003139;
  color: #003139;
  margin: 15px 25px;
  cursor: pointer;
}
.businessModel__content__main__info__listItem {
  margin-top: 10px;
  width: 120%;
  display: inline-flex;
  align-content: center;
  justify-content: left;
}
.businessModel__content__main__info__listItem div {
  background-color: #FFD608;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#asd {
  margin-top: 2vh;
}

#asdf {
  border-bottom: 1px solid black;
  width: 10%;
}

#asdfe {
  border-bottom: 1px solid black;
  width: 20%;
}/*# sourceMappingURL=main.css.map */