@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body, html {
  background-color: transparent;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.landingPage {
  background-color: #0B5D6B;
  z-index: 100;
  position: relative;
}
.landingPage__Bloor {
  width: 95%;
  transform: translate(-25%, -26%);
  position: absolute;
}
.landingPage__logo {
  position: absolute;
  top: 50%;
  margin-top: -35vh;
  margin-left: 5vw;
}
.landingPage__content {
  width: 40vw;
  height: 20vw;
  position: absolute;
  top: 60%;
  margin-top: -10vh;
  margin-left: 50%;
}
.landingPage__content__title {
  text-align: right;
  width: 100%;
  font-size: 4rem;
  color: #FFD608;
  letter-spacing: 8px;
  font-style: italic;
}
.landingPage__content__text {
  font-size: 1rem;
  color: #FFFFFF;
  text-align: right;
  margin-top: 5vh;
}
.landingPage__content__button {
  font-size: 1rem;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 100%;
  transform: translateX(-100%);
  margin-top: 5vh;
  border: 2px solid #FFFFFF;
}

.benefitScreen {
  background-color: #FFFFFF;
}
.benefitScreen__content {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: auto;
  top: 10%;
}
.benefitScreen__content__title {
  height: 10vh;
  margin-left: 2vw;
}
.benefitScreen__content__title span {
  font-size: 2rem;
  color: #003139;
  border-bottom: 2px solid #003139;
}
.benefitScreen__content__items {
  height: 50vh;
  padding: 5vh 0;
}
.benefitScreen__content__items--0 {
  border: 2px solid #85CFAE;
  border-radius: 15px;
  width: 15vw;
  height: 40vh;
  display: inline-block;
  margin: 0 2vw;
  padding-top: 6vh;
}
.benefitScreen__content__items--0--title {
  color: #FFD608;
  font-size: 5rem;
  text-align: center;
}
.benefitScreen__content__items--0--text {
  display: inline-flex;
  flex-direction: column;
  color: #0B5D6B;
  font-size: 0.9rem;
  text-align: center;
  height: 50%;
  margin-top: 2vh;
  padding: 0 2vw;
}
.benefitScreen__content__text {
  height: 20vh;
}
.benefitScreen__content__text p {
  color: #14A699;
  font-size: 1.1rem;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 5vh;
}

.bloor2 {
  position: absolute;
  width: 50vw;
  left: 100vw;
  transform: translate(-21vw, -54vh);
  z-index: 10;
}

.bloor3 {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
  transform: translate(-15vw, 40vh);
  z-index: 10;
}

.DTexplanation {
  background-color: #0B5D6B;
  height: 40vh;
  position: relative;
}
.DTexplanation__content {
  height: 20vh;
  width: 70vw;
  margin-left: 10vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.DTexplanation__content__title {
  height: 100%;
  display: inline-flex;
}
.DTexplanation__content__title span {
  color: #FFD608;
  font-size: 2rem;
}
.DTexplanation__content__text {
  margin-left: 3vw;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
}
.DTexplanation__content__text p {
  font-size: 1rem;
  display: block;
  color: #FFFFFF;
  margin: 0 0 2vh 0;
}

.DTchart {
  background-color: #FFFFFF;
}

.contact {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.contact__content {
  height: 20vh;
  width: 80vw;
  position: absolute;
  top: 15vh;
}
.contact__content__text {
  width: 59%;
  display: inline-flex;
  flex-direction: column;
}
.contact__content__text__title {
  display: inline-flex;
  position: absolute;
  top: 1vh;
}
.contact__content__text__title span {
  font-size: 2rem;
  color: #003139;
  border-bottom: 2px solid #003139;
}
.contact__content__text__paragraph {
  color: #0B5D6B;
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
}
.contact__content__socialMedia {
  height: 100%;
  width: 40%;
  display: inline-flex;
  flex-direction: row;
  padding-top: 5vh;
}
.contact__content__socialMedia--0 {
  border: 2px solid #85CFAE;
  border-radius: 15px;
  width: 8vw;
  height: 80%;
  text-align: center;
  margin-right: 2vw;
}
.contact__content__socialMedia--0 img {
  margin-top: 2.5vh;
}
.contact__content__socialMedia--3 img {
  margin-top: 3vh;
}
.contact__finalInfo {
  width: 100%;
  height: 7vh;
  background-color: #0B5D6B;
  position: absolute;
  bottom: 0px;
  z-index: 20;
}
.contact__finalInfo p {
  margin-top: 2vh;
  color: #FFFFFF;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}/*# sourceMappingURL=main.css.map */